/* @font-face {
  font-family: Heina;
  src: url(fonts/Heina.ttf);
} */

* {
  font-family: monospace;
  background-color: #f5f1e4;
}

h1 {
  padding: 0 20px;
  font-size: 36px;
  text-align: center;
}

h1 a {
  /* font-family: Heina; */
  style: none;
  color: deeppink;
  text-decoration: none;
}

h1 a:hover {
  color: pink;
  transition: 0.3s;
}

h2 {
  color: deeppink;
}

nav {
  text-align: right;
  background-color: #b7cd78;
  padding: 10px;
  margin-bottom: 10px;
}

nav dl {
  background-color: #b7cd78;
}

nav dl dt {
  display: inline-block;
}

nav dl dt a {
  style: none;
  color: deeppink;
  text-decoration: none;
  background-color: #b7cd78;
  font-size: 20px;
  /* font-family: Heina; */
  padding: 10px;
}

nav dl dt a:hover {
  color: pink;
  transition: 0.3s;
}

.content {
  text-align: center;
}

.content p {
  color: deeppink;
  font-size: 18px;
  margin: 10px;
}

.content p a {
  text-decoration: none;
  color: deeppink;
}

.covericons {
  padding: 20px;
}

.covericons a {
  color: deeppink;
  font-size: 30px;
  padding: 0 20px;
  border: 10px;
  display: inline-block;
}

.covericons a .icontext {
  visibility: hidden;
  font-size: 16px;
  position: absolute;
  z-index: 1;

  text-align: center;
  margin-top: 40px;
  margin-left: -100px;
}

.covericons a:hover .icontext {
  visibility: visible;
}

.container {
  padding: 10px;
}

.row {
  display: flex;
  text-align: center;
}

.col {
  float: left;
  width: 45%;
  padding: 1%;
  margin: auto;
}

.col:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.pic_description {
  visibility: hidden;
}

.col:hover .pic_description {
  visibility: visible;
  transition: 0.3s;

}

footer {
  list-style: none;
  text-align: center;
  color: deeppink;
  background-color: #b7cd78;
  padding: 5px 0px 10px 0px;
  margin-top: 10px;
  font-size: 16px;
}

footer dl {
  background-color: #b7cd78;
  font-size: 18px;
}

footer dl dt {
  display: inline-block;
}

footer dl dt a {
  style: none;
  color: deeppink;
  text-decoration: none;
  background-color: #b7cd78;
}

footer dl dt a i {
  background-color: #b7cd78;
}

footer dl dt a:hover {
  color: pink;
  transition: 0.3s;
}

footer p {
  background-color: #b7cd78;
  /* font-family: Heina; */
}
